body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.portada{
  color: red;
  font-size: 50px;
  text-align: center;
}
.casa {
  font-size: 25px;
  text-align: center;
}
.boton {
  background-color: red;
  text-align: center
}
.user{
  color: green;
}
.submit{
  background-color: green;
}
.fondo2 {
  background : "images/paisaje.jpg";
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}